

$ima-font-size: 0.875rem;

/**
 ****************************
 * Primary Variables
 ****************************
*/
$ima-primary-color-1: #000000;
$ima-primary-color-2: #252B2D;
$ima-primary-color-3: #243B43;
$ima-primary-color-4: #868888;
$ima-primary-color-5: #D8D8D8;
$ima-primary-color-6: #F0F1F1;
$ima-primary-color-7: #F4F7F8;
$ima-primary-color-8: #27343C;
$ima-primary-color-9: #2E4453;
$ima-primary-color-10: #3D596D;
$ima-primary-color-11: #4F748E;
$ima-primary-color-12: #668EAA;
$ima-primary-color-13: #A8BECE;
$ima-primary-color-14: #E5E6E8;
$ima-primary-color-15: #F7F8FC;
$ima-primary-color-16: #1CB2B2;
$ima-primary-color-17: #ED8E35;
$ima-primary-color-18: #EC5050;
$ima-primary-color-19: #06A917;
$ima-primary-color-20: #AC930A;
$ima-primary-color-21: #7D7D7D;
$ima-primary-color-22: #D2F6D6;
$ima-primary-color-23: #FFDBDB;

/**
 ****************************
 * Logo Variables
 ****************************
*/

$ima-logo-color-1: #E84DB2;
$ima-logo-color-2: #EA4786;
$ima-logo-color-3: #983FB3;
$ima-logo-color-4: #2B95FC;
$ima-logo-color-5: #65DAFB;
$ima-logo-color-6: #003171;
$ima-logo-color-7: #015EDF;


/**
 *********************************************
 * Logo Opacity Friction Colors .04%
 *********************************************
*/

$ima-logo-color-4-op-04: #2b94fc04;

/**
 ****************************
 * Shade of Grey Variables
 ****************************
*/

$ima-shade-of-grey-color-7: #E5E6E8;

/**
 *********************************************
 * Shade of Grey Variables Opacity Colors 40%
 *********************************************
*/

$ima-shade-of-grey-color-7-op-40: #E5E6E866;
